
<!--<h1 class="title is-1">Welcome to <%= title %></h1>-->

<!--<div class="field has-addons">-->
  <!--<div class="control">-->
    <!--<input class="input" type="text" placeholder="Find your dream job">-->
  <!--</div>-->
  <!--<div class="control">-->
    <!--<a class="button is-primary js-trigger-search">-->
      <!--Search-->
    <!--</a>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="js-results">-->
<!--</div>-->
