<!DOCTYPE html>
<html>
  <head>
    <title>DevJobs</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-eval'; object-src; font-src 'self' data:;">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">-->
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
  <div id="root"><%- initialMarkup %></div>
  <script charset="utf-8" src='./javascripts/bundle.js'></script>
  </body>
</html>
